.env
secrets.tfvars

.venv/
node_modules/

.terraform
terraform.tfstate
terraform.tfstate.*
terraform.tfstate.d/

build/
media/
static/
!src/static/
src/db.sqlite3

logs/
*.log

__pycache__
*.swp
.junk/
.DS_Store
