{
  "tabWidth": 2,
  "useTabs": false,
  "htmlWhitespaceSensitivity": "ignore",
  "plugins": ["prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "html",
        "htmlWhitespaceSensitivity": "ignore",
        "embeddedLanguageFormatting": "off"
      }
    },
    {
      "files": "**/templates/**/*.html",
      "options": {
        "embeddedLanguageFormatting": "off",
        "htmlWhitespaceSensitivity": "ignore",
        "parser": "html"
      }
    }
  ]
}
