{% extends "dl_view.html" %}
{% load wagtailcore_tags %}

{% block content %}
  <dl>
    <dt></dt><dd>{{ self.intro|richtext }}</dd>
    {% for post in posts %}
      <dt class="meta-data">
        {% if post.published %}
          {% if post.published != post.updated %}
          Updated <span>{{ post.updated }}</span><br />
          {% endif %}
          Published <span>{{ post.published }}</span><br />
        {% endif %}
        {% if post.latest_draft %}
          <span><a href="{{ draft_url }}">Latest draft</a></span>
          <span>{{ post.latest_draft }}</span>
        {% endif %}
      </dt>
      <dd><p>{{ post.object.title }}</p></dd>
    {% endfor %}
  </dl>
{% endblock %}
