{% extends "dl_view.html" %}
{% load wagtailcore_tags %}

{% block content %}
  <dl class="post-list">
    <dt></dt><dd>{{ self.intro|richtext }}</dd>
    {% for post in posts %}
      <dt class="meta-data">
        {% if post.published %}
          {% if post.published != post.updated %}
          Updated<br /><span>{{ post.updated }}</span><br />
          {% endif %}
          Published<br /><span>{{ post.published }}</span><br />
        {% endif %}
        {% if post.latest_draft %}
          <span><a href="{{ draft_url }}">Latest draft</a></span><br />
          <span>{{ post.latest_draft }}</span>
        {% endif %}
      </dt>
      <dd class="preview">
        <h2>{% if post.published %}<a href="{{ post.url }}">{% endif %}{{ post.title }}{% if post.published %}</a>{% endif %}</h2>
      </dd>
    {% endfor %}
  </dl>
{% endblock %}
