{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block document_title %}hpk.io{% endblock %}</title>

    {% if debug is None %}<link rel="stylesheet" href="{% static 'hpk.min.css' %}" />
    {% else %}<link rel="stylesheet" href="{% static 'hpk.css' %}" />{% endif %}

    <meta name="description" content="TODO Description" />
  </head>
  <body class="bg-light-green-gray items-end flex-nowrap">
    <header class="grid grid-cols-12 items-start px-4 gap-4">
      <img class="col-span-3" src="{% static 'ada-profile.png' %}" />
      <h1 class="col-span-6">{% block page_title %}Ada Wright{% endblock %}</h1>
    </header>

    <main>
      <section>
        <h2>TODO: Section Title</h2>
        <p>TODO: Content</p>
      </section>
    </main>

    <footer>
      <p>&copy; 2024 Ada Wright</p>
    </footer>

    {% if debug is None %}<script src="{% static 'hpk.min.js' %}"></script>
    {% else %}<script src="{% static 'hpk.js' %}"></script>{% endif %}

    <!-- Optional: Link to your JS file -->
  </body>
</html>
