{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO Page title</title>
    <link rel="stylesheet" href="{% static 'hpk.min.css' %}"> <!-- Optional: Link to your CSS -->

    <meta name="description" content="TODO Description" />

    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" />
</head>
<body>
    <header>
        <h1>TODO Page Heading</h1>
    </header>

    <main>
        <section>
            <h2>TODO Section Title</h2>
            <p>TODO Content</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Ada Wright</p>
    </footer>

    <script src="{% static 'hpk.min.js' %}"></script> <!-- Optional: Link to your JS file -->
</body>
</html>
